:root {
	--background-rgb: 30, 34, 42;
	--foreground: #ddd;

	--link-color: #42b883;

	--fs-1: 2rem;
	--fs-2: 1.5rem;
	--fs-3: 1.25rem;
	--fs-p: 1rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, sans-serif;
	min-height: 100vh;
	background-color: rgb(var(--background-rgb));
	color: var(--foreground);
	font-size: var(--fs-p);
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: var(--link-color);
	font-size: var(--fs-3);
	font-weight: 600;
}

.navbar {
	position: sticky;
	top: -1px;
	padding: 1rem 1.5rem;
	margin-bottom: 1.2rem;
	background-color: rgba(var(--background-rgb), 0.85);
	backdrop-filter: blur(10px);
	z-index: 1;

	h1 {
		text-transform: uppercase;
		font-size: var(--fs-1);
		line-height: 1.6;
		font-weight: 600;
	}

	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	li {
		display: inline-block;
	}
}

.navbar-link {
	&::after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background-color: var(--link-color);
		transition: all 0.3s ease-in-out;
	}

	&:hover::after {
		width: 100%;
	}

	&.active::after {
		width: 100%;
	}
}

.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	header {
		h1 {
			font-size: var(--fs-1);
			font-weight: 600;
			margin-bottom: 1.5rem;
			text-align: center;
		}

		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			a {
				display: inline-block;
				font-size: var(--fs-3);
				font-weight: 600;
				border: 2px solid var(--link-color);
				background-color: var(--link-color);
				color: rgb(var(--background-rgb));
				border-radius: 8px;
				padding: 1rem;
				transition: all 0.2s ease-in-out;

				&:hover {
					background-color: transparent;
					color: var(--link-color);
				}
			}
		}
	}
}
